<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Business Site</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <h1>Welcom to my Business Site</h1>
  <img src="{% static 'myapp/logo.png' %}">
  <p>Welcome to the site for my Business. For all your Business needs!</p>
  <p>Link for Html form example: <a href="{% url 'html_form_example' %}">Html Form</a></p>
  <p>Link for Django form example: <a href="{% url 'django_form_example' %}">Django Form</a></p>
  <p>Link for Order form example: <a href="{% url 'order_form' %}">Order Form</a></p>
  <p>Link for media example (html): <a href="{% url 'media_html_form' %}">Media example</a></p>
  <p>Link for media example (django): <a href="{% url 'media_django_form' %}">Media example 2</a></p>
  <p>Link for media example (django-image): <a href="{% url 'image_django_form' %}">Media example 3</a> </p>
  <p>Link for media example: <a href="{% url 'media_example' %}">Media Example 4</a></p>
  <p>Link for media example2: <a href="{% url 'media_example2' %}">Media Example 5</a></p>
</body>
</html>